@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Orbitron", sans-serif;
}

::selection {
  background-color: #740000; /* selection background color */
  color: #ffffff; /* selected text color */
}

/* Disable native smooth behavior to avoid conflicts with Lenis */
html {
  scroll-behavior: auto !important;
}